html, body
  background: #fafafa

.error
  padding: 50px 15px
  text-align: center
  .btn
    margin: 15px

.tab-content
  text-align: center
  padding: 50px 15px 60px
  .display
    font-size: 16vw
  .display-label
    opacity: 0.3
    font-size: 4vw

  @media (max-width: 400px)
    .display
      font-size: 22vw
    .display-label
      font-size: 6vw

.nav
  text-align: center
  &.nav-pills
    > li
      display: inline-block
      margin: 5px
      float: none