html, body
  background: #fafafa

.error
  position: relative
  z-index: 999
  padding: 50px 15px
  text-align: center
  .btn
    margin: 15px

.menu-button
  position: absolute
  margin: 15px
  font-size: 25px
  color: #ddd
  top: 0
  left: 0
  &:hover,
  &:active
    text-decoration: none
    color: #666

  &:focus
    outline: 0

.msg-wrap
  text-align: center
  #msg
    display: inline-block
    margin: 10px auto


.tab-content
  text-align: center
  padding: 30px 15px 60px
  .display
    font-size: 16vw
  .display-label
    opacity: 0.3
    font-size: 4vw
    small
      display: block
      font-size: .6em

  @media (max-width: 400px)
    .display
      font-size: 22vw
    .display-label
      font-size: 6vw
  @media (max-width: 760px)
    .display-label
      small
        display: inline
        font-size: 1em

.nav
  text-align: center
  &.nav-pills
    > li
      display: inline-block
      margin: 5px
      float: none

// Vacation days
#holidays
  margin: 40px 0
  .display-wrap
    color: #ccc
    text-align: center
    font-size: 16px
    span
      font-weight: bold
  form
    padding-top: 10px
  .checkbox
    display: inline-block
    margin: 5px
    .btn
      padding-left: 30px
      font-weight: bold
      span
        color: #666
        font-weight: normal

  .btn-wrap
    font-size: 0
    text-align: center
    .btn
      margin: 10px 5px

// Menu Cornermorph overrides
.container,
.content
  background: transparent

.content
  padding: 20px
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 100%

.menu-wrap
  position: absolute
  background: #fafafa
  top: 15px
  left: 15px

.menu
  margin: 50px 15px 20px 15px
  text-align: left
  .button-wrap
    position: absolute
    top: 15px
    right: 15px

.show-menu .menu-wrap
  -webkit-animation: none
  animation: none
  height: 430px
  @media (max-width: 300px)
    width: 200px

