html,
body {
  background: #fafafa;
}
main {
  padding-top: 20px;
  padding-bottom: 50px;
  position: relative;
}
.loading {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 10;
}
#content {
  position: relative;
  z-index: 20;
}
#debug {
  white-space: pre;
  margin-top: 40px;
}
#debug th {
  text-align: right;
  padding-right: 10px;
}
#stats {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  margin: 20px 0;
}
#stats > div {
  width: 15%;
  margin: 0.5%;
  text-align: center;
}
#stats > div h3 {
  border-radius: 6px;
  font-size: 36px;
  margin: 0;
}
#stats > div small {
  margin-top: 8px;
  font-size: 14px;
  line-height: 20px;
  display: block;
  text-transform: uppercase;
  color: #d0d0d0;
}
#adjusters {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  margin: 20px 0;
}
#adjusters > div {
  width: 23%;
  margin: 1%;
}
#adjusters label {
  display: block;
  margin-top: 20px;
  color: #999;
}
#adjusters label span {
  color: #222;
}
.neg {
  color: #721d1d;
}
.pos {
  color: #9cd8ab;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
