html,
body {
  background: #fafafa;
}
#debug {
  white-space: pre;
  margin-top: 40px;
}
#debug th {
  text-align: right;
  padding-right: 10px;
}
main {
  padding-top: 20px;
  padding-bottom: 50px;
  position: relative;
}
.loading {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 10;
}
#content {
  position: relative;
  z-index: 20;
}
#target_slide {
  overflow: hidden;
}
#target_slide .outer,
#target_slide .outer div {
  color: #FFF;
  position: relative;
  height: 100px;
  font-size: 20px;
  line-height: 20px;
}
#target_slide .outer {
  background: #5E88BF;
}
#target_slide .outer strong {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  right: 10px;
}
#target_slide .outer span {
  font-size: 15px;
  position: absolute;
  top: 50%;
  margin-top: 5px;
  right: 10px;
}
#target_slide .outer div {
  position: relative;
  background: #5480b7;
  transition: width 500ms ease-out;
  min-width: 85px;
}
#target_slide .outer div + div {
  top: -100px;
  background: #4D78B0;
}
.neg {
  color: #721D1D;
}
.pos {
  color: #9CD8AB;
}
.adjusters {
  margin: 40px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.adjusters > div {
  flex: 1 100%;
  padding: 10px;
}
.adjusters label {
  display: block;
  margin-top: 20px;
  color: #999;
}
.adjusters label span {
  color: #222;
}
